body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.landing-page{
    background-image: url(./Images/Expo\ coming\ soon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
} 

.header{
    position: relative;
}

@media screen and (max-width: 768px){
    .iitk-logo{
        position: absolute;
        width: 4em;
        margin: 0.5em;  
        left: 0%;
        top: 0%;  
    }
} 

@media screen and (min-width: 768px){
    .iitk-logo{
        position: absolute;
        width: 6em;
        margin: 2em;  
        left: 0%;
        top: 0%;  
    }
} 

@media screen and (max-width: 768px){
    .esummit-logo{
        width: 5em;
        margin: 0.5em;  
        position: absolute; 
        right: 0%;
        top: 0%;  
    }
}

@media screen and (min-width: 768px){
    .esummit-logo{
        position: absolute;
        width: 9em;
        margin: 2em;   
        right: 0%;
        top: 0%; 
    }
}

.esummit-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12vh;
}

.esummit-text{
    width: 40em;
}

.startup-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 105px;
    font-weight: 700;
    background: -webkit-linear-gradient(#0087FF 100%, #00427CBA 73%, #0087FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.75em 0em 0em 0em;
}

.expo-landing{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 30em;
}

.expo-landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0em 0em 0em 0em;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 1em;
}

.about{
    background: linear-gradient(180deg, #0B75D3 27.40%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    /* display: flex;
    width: 367px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; */
}

.about-text{
    color: #FFF; /*change it to #FFF*/
text-align: center;
font-family: Quattrocento Sans;
font-size: inherit;
font-style: normal;
font-weight: 400;
line-height: 180.5%; /* 23.465px */

margin: 5% 10%;

/* display: flex;
width: 490px;
height: 86px;
flex-direction: column;
justify-content: center;
flex-shrink: 0; */
}

.why{
    background: linear-gradient(180deg, #0B75D3 27.40%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.expo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expo-features{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1rem; */
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.expo-features div{
    /* background-color: black; */
  margin: 2rem 0;
  /* width: 300px;
  height: 150px; */
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;

  padding: 10px;
  

}
/* .f1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.f2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.f3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

.f4{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.f5{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.f6{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

.f7{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.f8{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.f9{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
} */

.feature{
     margin: 10px;

    /* padding-top: 10px; */
    border: 2px solid grey;
    border-radius: 31px;

    background: linear-gradient(180deg,#1D334E 0%, grey 100%);

    text-align: center;
    text-shadow : 0px 4px 4px rgba(0, 0, 0, 0.25);
     font-family: Quattrocento Sans;
    font-size: inherit;
    font-style: normal;
    font-weight: 700;
    line-height: 180.5%;
    text-transform: capitalize;

    max-width: 20%;

    
}

.feature {
    flex-basis: 33.3333333%;
}

.feature p{
    background: linear-gradient(180deg, #167eda 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.form{
    border-radius: 20px;
background: rgba(217, 217, 217, 0.11);
box-shadow: 0px 4px 4px 0px rgba(20, 134, 228, 0.54), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

margin: 5% 40% 5% 40%;

padding: 10px 0px;

display: flex;
justify-content: center;
}

.form-button{
    border: none;
    color: #1381E2;
text-align: center;
text-shadow: 0px 1px 4px rgba(0, 117, 255, 0.46);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;

background: transparent;


}

.who{
    background: linear-gradient(180deg, #0B75D3 27.40%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-align: center;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.list{
    

font-family: Open Sans;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;

padding-left: 20%;


}

.list-item{
    background: linear-gradient(180deg, #69DBFF 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.slabs{
    background: linear-gradient(180deg, #0B75D3 27.40%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

text-align: center;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;

border: 2px solid #0B75D3;
margin: 5% 30%;

}


.slabdetails{
    display: flex;
    justify-content: space-around;

    margin-bottom: 50px;
    
}

.platinum{
    background-image: url(./Images/Group\ 2418.png);
background: linear-gradient(180deg, #0B75D3 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* background-repeat: no-repeat;
    background-size: cover;
    padding: 5%; */ 

/* height: 120px; */
}

.gold{
    background-image: url(./Images/Group\ 2418.png);

    background: linear-gradient(180deg, #0B75D3 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.silver{
    background-image: url(./Images/Group\ 2418.png);

    background: linear-gradient(180deg, #0B75D3 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.non-landing{
    position: relative;
    background-image: url("./Images/Background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.footer {
    margin: 80px 0px 0px 0px;
    color: white;
    text-align: center;
    font-size: x-large;
    position: relative;
    overflow: hidden;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    align-content: center;
    margin: auto;
    max-width: 700px;
}

/* .about{
    color: bisque;
}
.about h1{
    text-align: center;
    color: darkblue;
}    */
.footer-moto {
    display: flex;
    align-items: center;
    width: max-content;
    color: white;
    font-size: x-large;
    background: radial-gradient(130.47% 105.22% at 28.98% 0.00%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid #6700ff;
    padding: 20px;
    margin: 50px 0;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
}

.footer-moto-expo{
    margin-right: 25px;
    margin-left: 10px;
    transform: translateY(13px);
    height: 60px;
}

.footer-moto-ecell{
    margin-left: 25px;
    margin-right: 10px;
    height: 60px;
}

.footer-icons{
    height: 2.4rem;
    width: 2.4rem;
}

.footer-slogan{
    display: flex;
    justify-content: space-around;

}

.footer-connect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
}

.footer-connect-components{
    margin: 20px 0px;
}

.footer-connect-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-connect-icons{
    margin: 0px 10px;
    height: 35px;
    width: 35px;
}

.footer-address{
    height: 25vh;
    justify-content: baseline;
}

@media only screen and (max-width: 300px){
    .footer-moto {
        display: flex;
        align-items: center;
        width: max-content;
        color: white;
        font-size: x-large;
        background: radial-gradient(130.47% 105.22% at 28.98% 0.00%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        border: 2px solid #6700ff;
        padding: 20px;
        margin: 50px 0;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        max-width: 230px;
        display: flex;
        justify-content: space-around;
    }

    .footer-moto-expo{
        margin-right: 13px;
        margin-left: 10px;
        transform: translateY(10px);
        height: 55px;
    }
    
    .footer-moto-ecell{
        margin-left: 13px;
        margin-right: 10px;
        height: 55px;
    }

    .footer-icons{
        height: 2rem;
        width: 2rem;
    }

    .footer-connect-icons{
        margin: 0px 4px 0px 5px;
        height: 30px;
        width: 30px;
    }

    .footer-font-size{
        font-size: 20px;
    }

    .footer-connect{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 25px 0px;
    }
}